*{
    margin-left: 0px;
    padding: 0px;
    
    color:white;
}
.black{
    background-color: rgb(7, 7, 7);
}
.skill{
    margin: 10px;
    
}
.flex{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    
}
.red{
    color: red;
}

    
img{
    width: 260px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 10%;
    
}
.left{
    max-width: 460px;
    margin-left: 70px;

}
li{
    list-style: none;
}
a{
    text-decoration: none;

}
.navbar{
    height: 70px;
    color: black;
   
    gap: 40px;
 
}
.navbar a{
    color:blue;
    font-size: x-large;
}
.image{
    height: 260px;
}